/*************************************
GLOBAL
**************************************/

html,
body,
div,
span,
object,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
  font-size: 100%;
  background: transparent none repeat scroll 0% 0%;
  text-decoration: none;
  list-style: outside none none;
  text-align: left;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  letter-spacing: 1.75px;
}

html {
  font: 12px/18px "Oxygen", Helvetica, sans-serif;
  font-weight: 300;
  padding: 50px;
  position: relative;
}
