* {
  box-sizing: border-box !important;
}

.form-group .radio .question_body {}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


/* Flex document body so footer sticks to page bottom. */

.vertical-flex-container {
  flex: 1;
}

body,
html,
ul,
figure {
  margin: 0;
  padding: 0;
  line-height: 115%;
}

body {
  background-color: rgb(91, 149, 66);
  font-size: 16px;
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
}

img {
  vertical-align: initial;
}

.body-white {
  background-color: white;
}

li {
  list-style: none;
}

p {
  font-weight: normal;
  font-size: 100%;
  color: black;
  margin: 0;
}

a {
  font-weight: normal;
  /*font-size: 125%;*/
  color: black;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 150%;
  color: black;
  text-align: center;
  margin: 5px 0;
}

h2 {
  font-weight: normal;
  font-size: 115%;
  color: black;
  text-align: center;
  margin: 0;
}

h3 {
  font-weight: bold;
  font-size: 125%;
  color: black;
  text-align: left;
  margin: 0;
}


/*figcaption {
  margin: 15px 0;
  padding: 1%;
}
*/


/* HEADER */

header {
  background-color: white;
  min-height: 9.375rem;
  padding: 2rem 3rem 0.5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3.5rem 0;
}

.header-logo-cntr {
  display: flex;
  margin-right: 2rem;
  /*  width: 279px;
  height: 57px;*/
  width: 100%;
  height: 100%;
}

.header-logo {
  width: 100%;
}

.logo-anchor {
  -webkit-align-self: center;
  align-self: center;
}

.header-addr-cntr {
  padding: 1rem;
  margin-right: 2rem;
}

.header-email-link:hover {
  color: rgb(91, 149, 66);
  text-decoration: none;
}

.header-nav-list-cntr {
  flex: 1 1 auto;
  display: flex;
}

.header-nav-list {
  display: inline-flex;
  padding: 0.5rem;
  width: auto;
  justify-content: space-around;
  flex: 1 1 auto;
}

.hdr-nav-link-text:hover {
  border-bottom: solid 4px rgb(91, 149, 66);
  color: rgb(91, 149, 66);
  text-decoration: none;
}

.header-nav-link-cntr {
  align-self: flex-end;
}

.hdr-nav-link-text {
  font-size: 18px;
  text-decoration: none;
  min-width: 125px;
}

.phone {
  position: relative;
  top: 2px;
  /*right: -10px;*/
  right: 2px;
  height: 15px;
  float: left;
}

.envelope {
  position: relative;
  height: 16px;
  top: 3px;
  /*right: -4px;*/
  right: 2px;
  float: left;
}

@media (min-width: 0) and (max-width: 425px) {
  header {
    padding: 1rem;
    margin: 0 0 1.5rem 0;
  }
  .header-logo-cntr {
    margin: 0 auto 1.5rem;
  }
  #header-logo {
    border-bottom: solid 1px lightgray;
    padding: 2rem 0 1rem 0;
    width: 100%;
  }
  .header-addr-cntr {
    margin: 0 auto 1.5rem auto;
    text-align: center;
    width: 100%;
  }
  .header-addr-cntr p,
  .header-addr-cntr a,
  .header-addr-cntr div {
    margin-bottom: 0.5rem;
  }
  .header-addr-cntr img {
    float: left;
  }
  .header-nav-list {
    display: block;
    padding: 1rem;
  }
  /*    .header-nav-link-cntr {
      margin-bottom: 1.5rem;
      text-align: center;
    }
*/
  .header-nav-link-cntr {
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
  }
  .header-nav-link-cntr:hover {
    margin-bottom: 1rem;
    border-left: solid 0.75rem rgb(31, 89, 6);
    background-color: rgb(91, 149, 66);
    padding-left: 0.25rem;
  }
  .header-nav-link-cntr:hover a {
    color: #FFF;
  }
  .header-nav-link-cntr:last-child {
    margin-bottom: 0;
  }
  .header-nav-list-cntr {
    background: #f6f6f4;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  header {
    padding: 1rem;
    margin: 0 0 1.5rem 0;
  }
  .header-logo-cntr {
    margin: 0 auto 1.5rem;
    width: 100%;
    height: 100%;
  }
  #header-logo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-bottom: solid 1px lightgray;
    padding-bottom: 2rem;
  }
  .header-addr-cntr {
    margin: 0 auto 1.5rem auto;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header-addr-cntr p,
  .header-addr-cntr div {
    flex: 0 1 43%;
    margin-bottom: 0;
    height: 16px;
  }
  .header-addr-cntr a {
    margin-bottom: 0.5rem;
  }
  .header-addr-cntr img {
    float: left;
  }
  .header-nav-list {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
  }
  .header-nav-link-cntr {
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
    flex: 0 1 50%;
  }
  .header-nav-link-cntr:nth-child(even):hover {
    margin-bottom: 1rem;
    border-right: solid 0.75rem rgb(31, 89, 6);
    background-color: rgb(91, 149, 66);
    padding-right: 0.25rem;
  }
  .header-nav-link-cntr:nth-child(odd):hover {
    margin-bottom: 1rem;
    border-left: solid 0.75rem rgb(31, 89, 6);
    background-color: rgb(91, 149, 66);
    padding-left: 0.25rem;
  }
  .header-nav-link-cntr:hover a {
    color: #FFF;
  }
  .header-nav-list-cntr {
    background: #f6f6f4;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

@media (min-width:769px) and (max-width:99999px) {
  header {
    padding: 2rem 3rem .5rem 0;
  }
  .header-nav-list-cntr {
    width: auto;
  }
  .header-nav-list {
    margin: 1rem auto 0;
  }
  .header-logo-cntr {
    margin: 0 1.5rem;
    height: 100%;
    width: auto;
  }
  #header-logo {
    width: 350px;
  }
}


/*END HEADER*/


/*BODY*/

#index {
  padding: 3.75rem;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 150px 0;
}

.index img {
  border: solid 4px white;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.subtitle {
  margin: 25px 0 0 0;
}

.subtitle h1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 8px 0;
  padding: 0 24px;
}

.subtitle h2 {
  font-weight: normal;
  font-size: 115%;
  color: black;
  text-align: center;
  margin: 0;
}

figure img:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.article_rental_prop_cntr {
  flex: 0 2 auto;
  padding: 5px;
  margin: 3rem auto;
}

.article_rental_prop_cntr h3,
.article_rental_prop_cntr p {
  text-align: center;
}

.article_rental_prop_cntr img {
  max-height: 650px;
  margin: 0 auto;
}

.article_rental_prop_cntr figcaption {
  margin: 15px 0;
  padding: 1%;
}

.address-container {
  border: solid 2px white;
  margin: 0 auto 0.5rem auto;
  max-width: 80%;
  padding: 0.5rem;
}

@media (min-width: 0) and (max-width: 425px) {
  #index {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .subtitle {
    margin: 0 0 1.75rem 0;
    padding: 0 2rem;
  }
  .subtitle h1 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: black;
    text-align: center;
    margin: 8px 0;
  }
  .subtitle h2 {
    font-size: 100%;
  }
  .article_rental_prop_cntr {
    flex: 0 2 auto;
    padding: 0px;
    margin: 0;
  }
  .article_rental_prop_cntr figcaption {
    margin: 1rem 0 2rem 0;
  }
  .address-container {
    border: solid 2px white;
    margin: 0 auto 0.5rem auto;
    max-width: 80%;
    padding: 1rem;
  }
  .address-container:hover {
    background-color: rgb(131, 189, 106);
  }
  .address-container h3 {
    line-height: 1.25rem;
    color: #FFF;
    font-weight: 300;
    text-align: center;
  }
  .article_rental_prop_cntr figcaption > p {
    text-align: center;
  }
  .article_rental_prop_cntr img {
    border: none;
    height: auto;
    object-fit: scale-down;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #index {
    padding: 0 1rem;
  }
  .article_rental_prop_cntr {
    flex: 0 2 47%;
    padding: 5px;
    margin: 1rem auto;
  }
  .article_rental_prop_cntr img {
    max-height: 300px;
  }
  .article_rental_prop_cntr figcaption {
    margin: 1rem 0 4rem 0;
    padding: 1%;
  }
  .article_rental_prop_cntr h3,
  .article_rental_prop_cntr p {
    text-align: center;
  }
  .article_rental_prop_cntr figcaption {
    margin: 1rem 0 2rem 0;
  }
  .address-container {
    border: solid 2px white;
    margin: 0 auto 0.5rem auto;
    max-width: 75%;
    padding: 0.5rem;
  }
  .address-container:hover {
    background-color: rgb(131, 189, 106);
  }
  .address-container h3 {
    line-height: 1.25rem;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    font-size: 1.15rem;
  }
}

@media (min-width: 769px) and (max-width: 99999px) {
  #index {
    padding: 0 1rem;
  }
  .article_rental_prop_cntr {
    flex: 0 1 47%;
    padding: 5px;
    margin: 1rem auto;
  }
  .article_rental_prop_cntr img {
    max-height: 300px;
  }
  .article_rental_prop_cntr figcaption {
    margin: 1rem 0 2rem 0;
    padding: 1%;
  }
  .address-container {
    border: solid 2px white;
    margin: 0 auto 0.5rem auto;
    max-width: 75%;
    padding: 0.5rem;
  }
  .address-container:hover {
    background-color: rgb(131, 189, 106);
  }
  .address-container h3 {
    line-height: 1.25rem;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    font-size: 1.15rem;
  }
}

@media (min-width: 1440px) and (max-width: 99999px) {
  .article_rental_prop_cntr {
    margin: 1rem auto 9rem auto;
  }
  .article_rental_prop_cntr img {
    max-height: 650px;
    /*width: auto;*/
  }
}


/* Container Expanded Rental Property Slideshow */

#slideshow {
  min-height: 500px;
  padding: 3.75rem;
  display: none;
}


/* Slideshow container for expanded image and aside */

#slideshow_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}


/* Slideshow Property Highlights */

#slideshow div aside {
  flex: 1 1 25%;
}

.slideshow_description-container {
  padding-right: 8rem;
}

.slideshow_description-container h3 {
  font-size: 125%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid white;
  padding: 12px 0;
  margin: 0 0 0.5em 0;
  letter-spacing: 0.75px;
  line-height: 105%;
  color: rgba(255, 255, 255, 0.95);
}

.property-description {
  color: rgba(255, 255, 255, 0.85);
  margin: 0 0 1.25rem 0;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid;
}

.property-description-header {}

.property-category {
  text-align: left;
  margin: 0 0 2rem 0;
}

.property-features {
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 1px;
}

.property-features-header {}

.property-features li {
  list-style-type: square;
  list-style-position: inside;
}


/* Expanded Slideshow Floorplan Image */

.floorplan {
  flex: 1 1 25%;
  margin: 0 2rem 0 0;
}

.slideshow-slide_image {
  border: solid 4px white;
  margin-right: 2rem;
  flex: 1 1 25%;
}


/* Container for Rental floorplans and Google Map */

#image_cont {
  display: flex;
  flex-wrap: wrap;
}

.map {
  flex: 25%;
  overflow: hidden;
}

@media (min-width: 0) and (max-width: 425px) {
  #slideshow {
    padding: 1rem;
  }
  .slideshow_description-container {
    padding-right: 0;
    padding: 0.5rem;
  }
  .slideshow_description-container h3 {
    font-size: 1.25rem;
    padding: 12px 0;
    margin: 0 0 0.5em 0;
    text-align: center;
    letter-spacing: 0.75px;
    line-height: 105%;
  }
  .property-category {
    text-align: center;
    margin: 0 0 2rem 0;
  }
  .property-description {
    color: rgba(255, 255, 255, 0.85);
    line-height: 150%;
    margin: 0 0 1.25rem 0;
    padding: 0 0 2rem 0;
    border-bottom: 1px solid;
    letter-spacing: 0.5px;
  }
  .property-features {
    font-size: 0.875rem;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 1px;
  }
  .property-features li span {
    margin: 0 0 0 -1rem;
  }
  .slideshow-slide_image {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }
  .floorplan {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-bottom: 4rem;
  }
  .map {
    height: 300px;
    width: 100%;
    margin-bottom: 4rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #slideshow {
    min-height: 500px;
    padding: 2rem;
  }
  #slideshow div aside {
    margin: 0;
    padding: 0 1rem;
  }
  .slideshow-slide_image {
    margin: 0 0 1.5rem 0;
    height: 100%;
    width: 100%;
  }
  #slideshow div aside {
    flex: 0 0 100%;
  }
  .slideshow_description-container h3 {
    font-size: 1.5rem;
    padding: 12px 0;
    margin: 0 0 0.5em 0;
    text-align: center;
    letter-spacing: 0.75px;
    line-height: 105%;
  }
  .property-category {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 1.25rem;
  }
  .property-description {
    font-size: 1.15rem;
    line-height: 150%;
    margin: 0 0 2rem 0;
    padding: 0 0 2rem 0;
    letter-spacing: 0.5px;
  }
  .property-description-header {
    font-size: 1.15rem;
  }
  .property-features-header {
    font-size: 1.15rem;
  }
  .property-features {
    font-size: 1.15rem;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 1px;
  }
  .property-features li span {
    margin: 0 0 0 -1rem;
  }
  .floorplan,
  .map {
    width: 45%;
    margin-bottom: 3rem;
  }
  #image_cont {
    height: 500px;
  }
}

@media (min-width:769px) and (max-width:99999px) {
  /* Expanded Slideshow Floorplan Image */
  .slideshow-slide_image {
    border: 4px solid #fff;
    margin-right: 2rem;
    flex: 1 1 25%;
    height: 100%;
    width: 100%;
  }
  .slideshow_description-container {
    padding: 0;
  }
  .slideshow_description-container h3 {
    font-size: 1.5rem;
    padding: 12px 0;
    margin: 0 0 0.5em 0;
    text-align: center;
    letter-spacing: 0.75px;
    line-height: 105%;
  }
  .property-category {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 1.25rem;
  }
  .property-description {
    font-size: 1rem;
    line-height: 150%;
    margin: 0 0 2rem 0;
    padding: 0 0 2rem 0;
    letter-spacing: 0.75px;
  }
  .property-description-header {
    font-size: 1rem;
  }
  .property-features-header {
    font-size: 1rem;
  }
  .property-features {
    font-size: 1rem;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 1px;
  }
  .property-features li span {
    margin: 0 0 0 -1rem;
  }
  .floorplan,
  .map {
    max-height: 500px;
    width: 45%;
    margin-bottom: 3rem;
  }
}


/* GOOGLE MAPS API - info popup */

h4 {
  color: darkcyan;
  font-size: 20px;
  margin: 0;
  line-height: 110%;
}


/* RENTAL FORM */

.main-form {
  margin: 0 auto;
  padding: 0 10%;
}

label {
  line-height: 1.7;
  font-weight: 300 !important;
  font-size: 22px;
  color: #504A5A;
}

#textinput {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 14px;
}

.sign-up-container {
  display: block;
  margin: 0 auto;
}

.sign-up-form {
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  display: block;
  padding: 5rem 0 0 0;
}

.form-header-container {
  text-align: center;
  padding: 60px 0 0;
  margin: 0 auto;
}

#rental-form-text-header {
  font-size: 34px;
  margin-bottom: 14px;
  font-weight: bold;
}

#rental-form-text-subhead {
  font-size: 22px;
  margin-bottom: 5rem;
  font-weight: 300;
  text-align: center;
}

.text-right {
  text-align: right;
}

.form-row {
  margin-bottom: 2px;
}

.form-disclaimer {
  margin-bottom: 3rem;
  line-height: 2.5rem;
  font-size: 1.75rem;
  padding: 0;
}

.form-signature-disclaimer {
  line-height: 3.25rem;
  font-size: 1.5rem;
  text-align: justify;
  background-color: #3f3b47;
  color: #fff;
  padding: 5rem;
  letter-spacing: 0.5px;
}

input[type="radio"] {
  vertical-align: middle;
  margin-top: 1rem;
}

input.form-control {
  margin-bottom: 1rem;
}

.radio label {
  margin-right: 2rem;
}

.generic-label {
  font-size: 1.5rem;
  display: block;
  color: rgb(91, 149, 66);
}

.nested-form-group {
  padding-bottom: 1.5rem;
}

hr.green-divider {
  border-top: .375rem solid rgb(91, 149, 66);
}

.submit-field {
  margin: 4rem 0;
  text-align: center;
}

.submit-button {
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 12px 30px;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: rgb(91, 149, 66);
  color: #FFF;
  border: none;
  font-size: 17px;
  font-weight: bold;
}

.sign-up-info {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 0) and (max-width: 425px) {
  .form-header-container {
    padding: 1rem 0 3rem 0;
    margin: 0 auto;
  }
  #rental-form-text-header {
    line-height: 125%;
  }
  #rental-form-text-subhead {
    margin-bottom: 1rem;
  }
  .sign-up-form {
    border: 0;
  }
  label p {
    font-size: 1.75rem;
    margin-top: -1.25rem;
  }
  .form-control {
    height: 48px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .sign-up-form {
    padding: 0.25rem 1rem;
  }
  label p {
    font-size: 1.75rem;
    margin-top: -1.25rem;
  }
}

@media (min-width: 769px) and (max-width: 99999px) {}


/* ABOUT PAGE */

.about-content {
  width: 70%;
  max-width: 1068px;
  margin: 0 auto;
  line-height: 1.8rem;
  color: #504a5a;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 3rem;
  letter-spacing: 0.5px;
}

.center-header-lock-up {
  font-size: 2.125rem;
  margin-bottom: 4rem;
}

.header-bottom-border {
  border-bottom: 1px solid #eaeaea;
}

@media (min-width: 0) and (max-width: 425px) {
  .about-content {
    width: 90%;
  }
  .center-header-lock-up {
    line-height: 3rem;
  }
  .center-header-lock-up h2 {
    padding: 0 5rem;
  }
  .header-bottom-border {
    margin-bottom: 4rem;
  }
  input.form-control {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .center-header-lock-up {
    line-height: 3rem;
  }
  .center-header-lock-up h2 {
    padding: 0 10rem;
  }
  .header-bottom-border {
    margin-bottom: 4rem;
  }
}

@media (min-width: 769px) and (max-width: 99999px) {}


/*FOOTER STYLES*/

.footer {
  padding: 3rem 0 3rem 0;
  background: #1f5906;
  margin-top: 4rem;
  border-top: solid 2px white;
  text-align: center;
}

.footer p {
  color: white;
}

@media (min-width: 0) and (max-width: 425px) {
  .footer {
    padding: 3rem 0 3rem 0;
    background: #1f5906;
    margin-top: 4rem;
    border-top: solid 2px white;
  }
  .footer p {
    color: white;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .footer {
    padding: 3rem 0 3rem 0;
    background: #1f5906;
    margin-top: 4rem;
    border-top: solid 2px white;
  }
  .footer p {
    color: white;
  }
}

@media (min-width: 769px) and (max-width: 99999px) {
  .footer {
    padding: 3rem 0 3rem 0;
    background: #1f5906;
    margin-top: 4rem;
    border-top: solid 2px white;
  }
  .footer p {
    color: white;
  }
}


/* Utility Styles */

.center {
  text-align: center;
}
