* {
  box-sizing: border-box !important;
  /*border: solid 1px white;*/
}

body,
html,
ul,
figure {
  margin: 0;
  padding: 0;
  line-height: 115%;
}

li {
  list-style: none;
}

figcaption {
  margin: 15px 0;
  padding: 1%;
}

p {
  font-family: "Titillium Web", Helvetica, Arial;
  font-weight: normal;
  font-size: 100%;
  color: black;
  text-align: left;
  margin: 0;
}

a {
  font-family: "Titillium Web", Helvetica, Arial;
  font-weight: normal;
  font-size: 125%;
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Titillium Web", Helvetica, Arial;
  font-weight: bold;
  font-size: 150%;
  color: black;
  text-align: center;
  margin: 5px 0;
}

h2 {
  font-family: "Titillium Web", Helvetica, Arial;
  font-weight: normal;
  font-size: 115%;
  color: black;
  text-align: center;
  margin: 0;
}

body {
  background-color: rgb(91, 149, 66);
  font-size: 16px;
}

h3 {
  font-family: "Titillium Web", Helvetica, Arial;
  font-weight: bold;
  font-size: 125%;
  color: black;
  text-align: left;
  margin: 0;
}


/* HEADER */

header {
  background-color: white;
  min-height: 150px;
  padding: 2rem 3rem .5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
}

.hdr-hr_logo_ctnr {
  align-self: center;
  margin-right: 3rem;
}

.hdr-hr_logo {
  width: 350px;
  height: auto;
}

.hdr_address {
  padding: 1rem;
  margin-right: 2rem;
}

nav {
  flex: 1 1 auto;
  display: flex;
}

nav ul {
  display: flex;
  padding: 0.5rem;
  width: auto;
  justify-content: space-around;
  flex: 1 1 auto;
}

.hdr-nav_link a:hover {
  border-bottom: solid 2px rgb(91, 149, 66);
  color: rgb(91, 149, 66);
  text-decoration: none;
}

.hdr-nav_link {
  align-self: flex-end;
}

.hdr-nav_link a {
  font-size: 18px;
  text-decoration: none;
  min-width: 125px;
}

@media (min-width: 321px) and (max-width: 768px) {
  header {
    padding: 1rem;
  }
  .hdr-hr_logo_ctnr {
    margin: 0 auto;
    width: 100%;
  }
  .hdr-hr_logo {
    width: 100%;
    height: auto;
  }
  .hdr_address {
    flex: 1 1 100%;
    margin: 2rem 0;
    display: flex;
  }
  nav {
    display: block;
    margin-bottom: 10px;
    flex: 1 1 200%;
  }
  nav ul {
    display: block;
    padding-top: 20px;
  }
  .hdr-nav_link {
    flex: 1 1 100%;
    margin-bottom: 2rem;
    text-align: center;
  }
  .hdr-nav_link a {
    font-size: 1.25rem;
  }
}

@media (min-width:769px) and (max-width:1000px) {
  nav ul {
    margin: 1rem auto 0;
    width: 100%;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .hdr-hr_logo_ctnr {
    width: 100%;
    margin: 0 auto;
    /*border: 1px solid;*/
  }
  .hdr-hr_logo {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  .hdr_address {
    width: 100%;
    margin: 2rem auto 0;
  }
}


/*END HEADER*/


/*BODY*/

main {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 150px 0;
}

.article_rental_prop_cntr {
  flex: 1 2 auto;
  padding: 5px;
  margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 629px) {
  .article_rental_prop_cntr {
    flex: 1 2 auto;
  }
}

@media (min-width: 630px) and (max-width: 1245px) {
  .article_rental_prop_cntr {
    flex: 1 2 45%;
  }
}

.subtitle {
  margin: 25px 0 0 0;
}

.index img {
  border: solid 2px white;
  height: 100%;
  width: 100%;
}

figure img:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}


/* FOOTER */

footer>p {
  text-align: center;
}


/* Container Expanded Rental Property Slideshow */

section#slideshow {
  min-height: 500px;
  padding: 3.75rem;
  display: none;
}


/* Slideshow container for expanded image and aside */

#slideshow_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* Slideshow Property Highlights */

section#slideshow div aside {
  flex: 1 1 auto;
}


/* Expanded Slideshow Floorplan Image */

.floorplan {
  flex: 1 1 auto;
  height: 300px;
  margin: 0 2rem 0 0;
}

#slideshow-slide_image {
  flex: 1 1 auto;
  border: solid 4px white;
  margin-right: 2rem;
  -webkit-flex: 1 1 25%;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  height: 400px;
}


/* Container for Rental floorplans and Google Map */

#image_cont {
  display: flex;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.map {
  flex: 50%;
  height: 300px;
  overflow: hidden;
}

@media (min-width: 321px) and (max-width: 768px) {
  section#slideshow div aside {
    margin: 0;
  }
  #slideshow-slide_image {
    margin: 0 0 1rem 0;
  }
  .floorplan {
    margin: 0;
    width: 100%;
    margin-bottom: 3rem;
    height: auto;
  }
  section#slideshow {
    min-height: 500px;
    padding: 20px;
  }
  /* Expanded Slideshow Floorplan Image */
  .map {
    height: 500px;
  }
}

@media (min-width:769px) and (max-width:1100px) {
  #slideshow-slide_image {
    /*margin: 0 0 1rem 0;*/
  }
  /* Expanded Slideshow Floorplan Image */
  .map {
    height: 500px;
  }
  .floorplan {
    margin: 0 0 2rem 0;
    height: auto;
  }
}

.NEED_INFO {
  color: red;
}


/* GOOGLE MAPS API - info popup */

h4 {
  color: darkcyan;
  font-size: 20px;
  margin: 0;
  line-height: 110%;
}


/* RENTAL FORM */

<style> label {
  font-family: "Titillium Web", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.7;
  font-weight: 300 !important;
  font-size: 22px;
  color: #504A5A;
}

input#textinput {
  font-size: 16px;
  font-weight: 300;
  font-family: Titillium Web;
  letter-spacing: 1px;
  padding: 14px;
}

.sign-up-container {
  display: block;
  margin-bottom: 40px;
  padding: 40px;
}

.sign-up-form {
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  display: inline-block;
  float: left;
  padding: 40px 20px;
}

.form-header-container {
  text-align: center;
  padding: 60px 0 0;
  margin: 0 auto;
}

#rental-form-text-header {
  font-size: 34px;
  margin-bottom: 14px;
  font-family: "Titillium Web", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: bold;
}

#rental-form-text-subhead {
  font-size: 22px;
  margin-bottom: 14px;
  font-family: "Titillium Web", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 300;
  text-align: center;
}
