* {
  /*border: solid 1px gray;*/
  border-spacing: 0;
}
body {
  padding: 2%;
  margin: auto;
}
fieldset {
    border: none;
    width: auto;
}

input, label {
    padding: 2px;
}
th, td {
  padding: 1%;
  width: 350px;

}
th {
  background-color: lightskyblue;
}
table {
  margin: 10px 0px;
}

#foreign_key, #btns {
  width: 50px;
}

#id, #cost, #status {
  width: 150px;
}

#client {
  width: 500px;
}

.delete_btn {
  border: none;
  background-color: inherit;
}

tr.record {
    border-bottom: solid 1px lightgray;
    height: 50px;
}

tr.record:hover {
    background-color: #eee;
}

.delete_cntr {
  width: 100px;
}

nav#dashboard {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

button.dash_btn {
  margin: auto;
  display: inline-grid;
  flex: auto;
}

button.dash_btn:first-child {
  margin: 0 auto 0 0;
}

div#create_ticket_form {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.input_set {
  flex: auto;
}
