<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <form id="search-form" onsubmit="return false">
      <input type="text" name="search">
      <input id="search-btn" type="submit" value="Search" />
    </form>

    <table width="100%">
      <thead>
        <tr style="text-align: left;">
          <th width="40%">Title</th>
          <th width="30%">Author</th>
          <th width="10%">Year</th>
          <th width="20%">ID</th>
        </tr>
      </thead>
      <tbody id="search-results"></tbody>
    </table>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>
      // serializes search form when submitting HTTP POST request
      function submitSearch() {
        $.ajax({
          url: "/search",
          method: "POST",
          data: $("#search-form").serialize(),
          // return data callback func
          // parse JSON data or returns false on invalide data
          success: function(rawData) {
            // var parsed = JSON.parse(rawData);
            if(!JSON.parse(rawData)) return;
            var searchResults = $("#search-results");
            // removes previous results
            searchResults.empty();

            // maps over parsed data and writes into <td> elements
            // before appending to search results
            JSON.parse(rawData).map(function(res) {
              var row = $("<tr><td>" + res.Title + "</td><td>"
                          + res.Author + "</td><td>" + res.Year
                          + "</td><td>" + res.ID + "</td></tr>");
              searchResults.append(row);
            });
          }
        });

        // prevents default button action behavior
        return false;
      }
      // listen() is an immediately invoke function expression set to call
      // submitSearch() when the user clicks the search button
      (function listen(){
        var s_btn = document.getElementById("search-btn");
        if(window.addEventListener) {
          s_btn.addEventListener("click", submitSearch, false);
        }
        if(window.attachEvent) {
          s_btn.attachEvent("onclick", submitSearch);
        }
      }());

    </script>
  </body>
</html>